root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 80
tab_width = 4
trim_trailing_whitespace = true

quote_type = single
spaces_around_operators = true # hybrid
spaces_around_brackets = both
indent_brace_style = K&R
continuation_indent_size = 4

# ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides =
ij_wrap_on_typing = false

